.layout {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 200px;
    background: var(--bg-surface);
    font-size: large;
    position: relative;

    ul {
      font-size: 15px;
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;

        a {
          all: unset; // Disables default anchor styles
          cursor: pointer; // Display pointer on hover
          margin: 0.25rem;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          width: 100%;

          mat-icon {
            display: flex;
            margin-right: 0.7rem;
            font-size: 20px;
            justify-content: center;
            align-items: center;
          }
        }

        a.active {
          background: var(--bg-elevated);
          border-radius: 0.5rem;
        }
      }
    }

    .side-header {
      margin: 0;
      padding: 0.1rem;

      p {
        margin-left: 1rem;
        color: var(--text-muted)
      }
    }

    .side-main-content {
      padding: 0.5rem;
      flex: 1; /* takes up all available space */
    }

    .side-bottom-content {
      position: absolute; // Bounded by the sidebar's position
      padding: 0.5rem;
      flex: 1; /* takes up all available space */
      bottom: 0;
      width: 100%;
      box-sizing: border-box; // Ensures the width stays within the sidebar
    }
  }
}

.main-content {
  flex: 1;
  padding: 2rem;
}