.layout {
  display: flex;
  height: 100vh;

  .sidebar {
    font-size: large;
    position: relative;

    nav {
      position: relative;
      flex-direction: column;
      width: 190px;
      height: 100%;
      background: var(--bg-surface);
      overflow: hidden;;
      transition: width 0.3s ease; // Smooth transition for both collapsed and expanded states
      white-space: nowrap;
    }

    nav.collapsed {
      width: 60px; // Collapsed width
      overflow: hidden; // Hide overflow content
      .toggle-button {
        padding-right: 1.1rem
      }
    }

    .side-header {
      margin: 0;
      padding: 0.1rem;

      p {
        margin-left: 1rem;
        color: var(--text-muted);
      }
    }

    .side-main-content {
      padding: 0.5rem;
      flex: 1; /* takes up all available space */
    }

    .side-bottom-content {
      position: absolute; // Bounded by the sidebar's position
      box-sizing: border-box; // Ensures the width stays within the sidebar
      padding: 0.5rem;
      margin-bottom: 1rem;
      flex: 1; /* takes up all available space */
      bottom: 0;
      width: 100%;
    }

    .toggle-button {
      position: absolute;
      background: none;
      color: var(--text-muted);
      border: none;
      cursor: pointer;
      right: 0;
      bottom: -1rem;
      font-size: x-large;
      margin-right: 0.1rem;
      padding: 0.5rem;
    }

    ul {
      font-size: 15px;
      list-style-type: none;
      padding: 0;

      .btn {
        all: unset; // Disables default anchor styles
        cursor: pointer; // Display pointer on hover
        margin: 0.25rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        width: 100%;

        mat-icon {
          display: flex;
          margin-right: 0.7rem;
          font-size: 20px;
          justify-content: center;
          align-items: center;
        }
      }

      .logout-btn {
        color: var(--text-muted)
      }

      li {
        display: flex;
        align-items: center;

        a.active {
          background: var(--bg-elevated);
          border-radius: 0.5rem;
        }
      }
    }
  }
}

.main-content {
  flex: 1;
  padding: 2rem;
}