<div class="layout">
  <aside class="sidebar">
    <nav>
      <div class="side-header">
        <p>Watchdxg Manager</p>
      </div>
      <div class="side-main-content">
        <ul> <!-- Use routerLinkActive to make easier dynamic CSS class assignment -->
          <li>
            <a routerLink="dashboard" routerLinkActive="active" >
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </a>
          </li>
          <li>
            <a routerLink="users" routerLinkActive="active">
              <mat-icon>supervised_user_circle</mat-icon>
              Users
            </a>
          </li>
          <li>
            <a routerLink="actions" routerLinkActive="active">
              <mat-icon>offline_bolt</mat-icon>
              Actions
            </a>
          </li>
          <li>
            <a routerLink="logs" routerLinkActive="active">
              <mat-icon>assignment</mat-icon>
              App logs
            </a>
          </li>
        </ul>
      </div>
      <div class="side-bottom-content">
        <ul>
          <li>
            <a routerLink="settings" routerLinkActive="active">
              <mat-icon>settings</mat-icon>
              Settings
            </a>
          </li>
          <li>
            <a routerLink="help" routerLinkActive="active">
              <mat-icon>info</mat-icon>
              About
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
  <main class="main-content">
    <router-outlet />
  </main>
</div>