#login-elements {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  // background: var(--bg-primary);
}

#login-logo {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: var(--bg-primary);
  margin: 56px, 56px, 56px, 0;
  padding-top: 32px;
  padding-bottom: 32px;
  div {
    display: flex;
    flex-direction: column;
    input {
      all: unset;
      padding: 0.5rem;
      border-radius: 0.25rem;
      background: var(--bg-elevated);
      color: var(--text-input);
      font-style: bold;
    }
  }
  button {
    all: unset;
    background: var(--bright-color);
    color: var(--highlighted-text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
  }
  .input-wrapper {
    padding: 0.5rem;
  }
}
