<div class="zones-container">
  <div>Followers/All</div>
  <section class="harmful-zone">
    <h2>Harmful</h2>
    <!-- <app-user-card *ngFor="let user of harmfulUsers" [xUser]="user"></app-user-card> -->
    <app-user-card *ngFor="let user of users" [xUser]="user"></app-user-card>
  </section>

  <section class="unclassified-zone">
    <h2>Unclassified</h2>
    <!-- <app-user-card *ngFor="let user of unclassifiedUsers" [xUser]="user"></app-user-card> -->
    <app-user-card *ngFor="let user of users" [xUser]="user"></app-user-card>
  </section>

  <section class="sane-zone">
    <h2>Sane</h2>
    <!-- <app-user-card *ngFor="let user of saneUsers" [xUser]="user"></app-user-card> -->
    <app-user-card *ngFor="let user of users" [xUser]="user"></app-user-card>
  </section>
</div>
