.users-header {
  display: flex;
  flex-direction: column;
  height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;

  h2 {
    margin: 0;
  }
}

.zones-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem; /* instead of 16px */

  section {
    border-radius: 0.5rem;

    h2 {
      margin: 0;
    }

    .userlist-wrapper {
      // display: flex;
      // flex-direction: column;
      max-height: 50vh;
      overflow-y: auto;
    }

    .header {
      display: flex;
      height: 3rem;
      align-items: center;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding-left: 0.5rem;
    }

    .harmful {
      background: var(--hot-red);
    }
    .unclassified {
      background: var(--text-muted);
    }
    .sane {
      background: var(--healthy-green);
    }

    .placeholder {
      display: flex;
      height: 50vh;
      border-radius: 0.5rem;
      background: var(--bg-surface);
      justify-content: center;
      align-items: center;
    }

    .spinner {
      width: 40px;
      height: 40px;
      border: 8px solid var(--bg-surface);
      border-top-color: var(--notif-high); /* or your theme color */
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      to { transform: rotate(360deg); }
    }
  }
}
