.zones-container {
  display: flex;
  flex-direction: column;

  section {
    background: var(--bg-surface);
    border-radius: 0.5rem;

    margin-bottom: 2rem;

    h2 {
      margin: 0%;
    }
    .userlist-wrapper {
      max-height: 50vh;
      overflow-y: auto;
    }

    .header {
      display: flex;
      height: 3rem;
      align-items: center;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding-left: 0.5rem;
    }
    .harmful {
      background: var(--hot-red);
    }

    .unclassified {
      background: grey;
    }

    .sane {
      background: green;
    }
  }


}